{% extends 'base.html' %}

{% from "_formhelpers.html" import render_field %}
{% block search_content %}
	<div id="mainSearch">
		<form method="GET" action="/search">
			<ul>
			<label id="searchTitle">Search All</label>
			{{ gen_search.query_all }}
			</ul>
			<button type=submit class="btn btn-primary btn-sm">Search</button><br/>
			<button type="button" class="btn btn-link btn-xs" id="toggleAdv">Advanced Search</button>
		</form>
	</div>
	<div class="row">
		<div class="col-sm-3 col-md-4 sidebar">
		<button type="button" class="close" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	{% for search_form in forms %}
		{% if search_form.org_id %}
		<div class = "filter_option">
			<h4>Organization</h4>
			<form method="GET" action="/search">
				<ul>
			 	{% for field in search_form %}
			 		{% if field.id != 'csrf_token' %}
			 			{{ render_field(field)}}
			 		{% endif %}
			 	{% endfor %}
				</ul>
			 	<button type=submit class="btn btn-primary btn-xs">Search Orgs</button><br/>
			</form>
		</div><br/>
		{% elif search_form.user_id %}
		<div class = "filter_option">
			<h4>Users</h4>
			<form method="GET" action="/search">
				<ul>
			 	{% for field in search_form %}
			 		{% if field.id != 'csrf_token' %}
			 			{{ render_field(field)}}
			 		{% endif %}
			 	{% endfor %}
				</ul>
			 	<button type=submit class="btn btn-primary btn-xs">Search Users</button><br/>
			</form>
		</div><br/>
		{% elif search_form.ticket_id%}
		<div class = "filter_option">
			<h4>Tickets</h4>
			<form method="GET" action="/search">
				<ul>
			 	{% for field in search_form %}
			 		{% if field.id != 'csrf_token' %}
			 			{{ render_field(field)}}
			 		{% endif %}
			 	{% endfor %}
				</ul>
			 	<button type=submit class="btn btn-primary btn-xs">Search Tickets</button><br/>
			</form>
		</div>
		{% endif %}
	{% endfor %}
	</div>
	<div class="main" id="resultsTable">
		<div class="row">
		{% if msg %}
			<span id="msg">{{ msg }}</span>
		{% endif %}
		{% if search_results %}
			{% for res in search_results %}
				{{res}}
			{% endfor %}
		{% endif %}
		</div>
	</div>
</div>
{% endblock %}
