{% extends 'base.html' %}

{% block search_content %}
<div class="controlBox">
	{% from "_formhelpers.html" import render_field %}
	{% for search_form in forms %}
		<div class="advancedSearch">
			<form method="GET" action="/search">
				<ul>
			 	{% for field in search_form %}
			 		{% if field.id != 'csrf_token' %}
			 			{{ render_field(field)}}
			 		{% endif %}
			 	{% endfor %}
				</ul>
			 	<input type=submit>
			 </dl>
			</form>
		</div>
	{% endfor %}
{% endblock %}

{% block search_results %}
	{% if search_results %}
		{% for res in search_results %}
			<p>{{res}}</p>

		{% endfor %}
	{% endif %}
	{% if msg %}
		<p>{{ msg }}</p>
	{% endif %}
{% endblock %}
